<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- belle/login.html   11 Nov 2019 12:22:27 GMT -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Account &ndash; </title>
<meta name="description" content="description">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon -->
<link rel="shortcut icon" href="assets/images/favicon.png" />
<!-- Plugins CSS -->
<link rel="stylesheet" href="assets/css/plugins.css">
<!-- Bootstap CSS -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<!-- Main Style CSS -->
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/responsive.css">


   <!-- Favicon -->
   <link rel="shortcut icon" type="image/x-icon" href="Asets/imgs/theme/favicon.svg">
   <!-- Template CSS -->
   <link rel="stylesheet" href="Asets/css/main.css?v=3.4">
</head>








<!-----------------------------------body------------------------------->


<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span> Profile
                
            </div>
        </div>
    </div>
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#wallet"
                                            role="tab" aria-controls="address" aria-selected="true"><i
                                                class="fi-rs-marker mr-10"></i>My Wallet</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                            href="#account-detail" role="tab" aria-controls="account-detail"
                                            aria-selected="true"><i class="fi-rs-user mr-10"></i>Change Password</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="tab-content dashboard-content">
                                <!-- Dashboard Tab -->
                                <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                                    aria-labelledby="dashboard-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Hello <%= user.name %>! </h5>
                                        </div>
                                        <div class="card-body">
                                            <p>UserName: <%= user.name %></p>
                                            <p>MobileNumber: <%= user.phone %></p>
                                            <p>Email: <%= user.email %></p>
                                            <a href="/editProfile?userId=<%= user._id %>" class="btn-small">Edit</a>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Orders Tab -->
                                <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Your Orders</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Order</th>
                                                            <th>Date</th>
                                                            <th>Status</th>
                                                            <th>Total</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% AllOrders.forEach(order => { %>
                                                            <tr>
                                                                <td>#<%= order.orderNumber %></td>
                                                                <td><%= order.orderDate.toDateString() %></td>
                                                                <td><%= order.status %></td>
                                                                <td>$<%= order.totalAmount.toFixed(2) %> for <%= order.items.length %> items</td>
                                                                <td><a href="/viewOrder?orderNumber=<%= order.orderNumber %>" class="btn-small d-block">View</a></td>
                                                            </tr>
                                                        <% }); %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Address Tab -->
                                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                    <div class="row p-30">
                                        <% for (let i=0; i < userAddress.length; i++) { %>
                                            <div class="col-lg-6">
                                                <div class="card mb-3 mb-lg-0">
                                                    <div class="card-header">
                                                        <h5 class="mb-0"><%= userAddress[i].addressType %> Address</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <p style="font-weight: bold;"><%= userAddress[i].name %></p>
                                                        <address>
                                                            <%= userAddress[i].address %>, <br>
                                                            <%= userAddress[i].locality %>,<br>
                                                            <%= userAddress[i].district %>, <br>
                                                            <%= userAddress[i].state %>, <br>
                                                            <%= userAddress[i].alternatePhone %>, <br>
                                                            <%= userAddress[i].pinCode %>
                                                        </address>
                                                        <a href="/addressEdit?addressId=<%= userAddress[i]._id %>" class="btn-small">Edit</a>
                                                        <button class="btn-small delete-button" data-id="<%= userAddress[i]._id %>">Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div>
                                        <a href="/addAddress" class="btn mt-10">ADD Address</a>
                                    </div>
                                </div>



                                <div class="tab-pane fade" id="wallet" role="tabpanel" aria-labelledby="orders-tab">
                                    <div class="card">
                                        <div class="card-header" style="background-color: aquamarine;">
                                            <div class="text-center">
                                                <h5 class="mb-0" style="font-size: medium;">Your Wallet</h5>
                                            </div>
                                        </div>
                                
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h6>Wallet Balance: ₹<%= wallet?.walletbalance %></h6>
                                                    <h6>Total Refund: ₹<%= wallet?.totalRefund %></h6>
                                                    <h6>Total Transaction Amount: ₹<%= wallet?.totalTransation %></h6>
                                                </div>
                                                <div class="col-md-6">
                                                    <form>
                                                        <div class="mb-3">
                                                            <label for="addAmount" class="form-label">Add Amount to Wallet</label>
                                                            <input type="text" class="form-control" id="addAmount" placeholder="Enter amount">
                                                        </div>
                                                        <button type="submit" class="btn btn-primary" onclick="walletMoney(event)" style="background-color: rgb(252, 112, 112);">Add</button>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="table-responsive mt-4">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Transaction Mode</th>
                                                            <th>Date</th>
                                                            <th>Type</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if (wallet && Array.isArray(wallet.transationHistory)) { %>
                                                            <% wallet.transationHistory.forEach(transaction => { %>
                                                                <tr>
                                                                    <td><%= transaction.transationMode %></td>
                                                                    <td><%= transaction.date ? transaction.date.toDateString() : 'N/A' %></td>
                                                               
                                                                    <td><%= transaction.paymentType %> </td>
                                                                    <td><%= transaction.transationamount %></td>
                                                                </tr>
                                                            <% }) %>
                                                        <% } else { %>
                                                            <tr>
                                                                <td colspan="4">No wallet transactions found.</td>
                                                            </tr>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                

                                
                                <!-- Change Password Tab -->
                                <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Change Password</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="text-center text-danger" id="serverError"></p>
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label>Current Password <span class="required">*</span></label>
                                                    <input required="" class="form-control square" name="password" type="password" id="currentPassword">
                                                    <p id="currentPasswordError" class="text-danger"></p>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>New Password <span class="required">*</span></label>
                                                    <input required="" class="form-control square" name="newPassword" type="password" id="newPassword">
                                                    <p id="password_error" class="text-danger "></p>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>Confirm Password <span class="required">*</span></label>
                                                    <input required="" class="form-control square" name="conformPassword" type="password" id="password_conform">
                                                    <p id="password_conform_error" class="text-danger"></p>
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="submit" id="submitId" value="Submit">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>


 
    <!--Footer-->
    <footer id="footer">
        <div class="newsletter-section">
            <div class="container">
                <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-7 w-100 d-flex justify-content-start align-items-center">
                            <div class="display-table">
                                <div class="display-table-cell footer-newsletter">
                                    <div class="section-header text-center">
                                        <label class="h2"><span>sign up for </span>newsletter</label>
                                    </div>
                                    <form action="#" method="post">
                                        <div class="input-group">
                                            <input type="email" class="input-group__field newsletter__input" name="EMAIL" value="" placeholder="Email address" required="">
                                            <span class="input-group__btn">
                                                <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe"><span class="newsletter__submit-text--large">Subscribe</span></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-5 d-flex justify-content-end align-items-center">
                            <div class="footer-social">
                                <ul class="list--inline site-footer__social-icons social-icons">
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i class="icon icon-facebook"></i></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Twitter"><i class="icon icon-twitter"></i> <span class="icon__fallback-text">Twitter</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Pinterest"><i class="icon icon-pinterest"></i> <span class="icon__fallback-text">Pinterest</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Instagram"><i class="icon icon-instagram"></i> <span class="icon__fallback-text">Instagram</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Tumblr"><i class="icon icon-tumblr-alt"></i> <span class="icon__fallback-text">Tumblr</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on YouTube"><i class="icon icon-youtube"></i> <span class="icon__fallback-text">YouTube</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Vimeo"><i class="icon icon-vimeo-alt"></i> <span class="icon__fallback-text">Vimeo</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>    
        </div>
        <div class="site-footer">
        	<div class="container">
     			<!--Footer Links-->
            	<div class="footer-top">
                	<div class="row">
                    	<div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        	<h4 class="h4">Quick Shop</h4>
                            <ul>
                            	<li><a href="#">Women</a></li>
                                <li><a href="#">Men</a></li>
                                <li><a href="#">Kids</a></li>
                                <li><a href="#">Sportswear</a></li>
                                <li><a href="#">Sale</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        	<h4 class="h4">Informations</h4>
                            <ul>
                            	<li><a href="#">About us</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Terms &amp; condition</a></li>
                                <li><a href="#">My Account</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        	<h4 class="h4">Customer Services</h4>
                            <ul>
                            	<li><a href="#">Request Personal Data</a></li>
                                <li><a href="#">FAQ's</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="#">Support Center</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                        	<h4 class="h4">Contact Us</h4>
                            <ul class="addressFooter">
                            	<li><i class="icon anm anm-map-marker-al"></i><p>55 Gallaxy Enque,<br>2568 steet, 23568 NY</p></li>
                                <li class="phone"><i class="icon anm anm-phone-s"></i><p>(440) 000 000 0000</p></li>
                                <li class="email"><i class="icon anm anm-envelope-l"></i><p>sales@yousite.com</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End Footer Links-->
                <hr>
                <div class="footer-bottom">
                	<div class="row">
                    	<!--Footer Copyright-->
	                	<div class="col-12 col-sm-12 col-md-6 col-lg-6 order-1 order-md-0 order-lg-0 order-sm-1 copyright text-sm-center text-md-left text-lg-left"><span></span> <a href="templateshub.net">Templates Hub</a></div>
                        <!--End Footer Copyright-->
                        <!--Footer Payment Icon-->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 order-0 order-md-1 order-lg-1 order-sm-0 payment-icons text-right text-md-center">
                        	<ul class="payment-icons list--inline">
                        		<li><i class="icon fa fa-cc-visa" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-mastercard" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-discover" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-paypal" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-amex" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-credit-card" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <!--End Footer Payment Icon-->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--End Footer-->
    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
    <!--End Scoll Top-->
    
     <!-- Including Jquery -->
     <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
     <script src="assets/js/vendor/jquery.cookie.js"></script>
     <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
     <script src="assets/js/vendor/wow.min.js"></script>
     <!-- Including Javascript -->
     <script src="assets/js/bootstrap.min.js"></script>
     <script src="assets/js/plugins.js"></script>
     <script src="assets/js/popper.min.js"></script>
     <script src="assets/js/lazysizes.js"></script>
     <script src="assets/js/main.js"></script>
</div>

 <!-- Vendor JS-->
 <script src="Asets/js/vendor/modernizr-3.6.0.min.js"></script>
 <script src="Asets/js/vendor/jquery-3.6.0.min.js"></script>
 <script src="Asets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
 <script src="Asets/js/vendor/bootstrap.bundle.min.js"></script>
 <script src="Asets/js/plugins/slick.js"></script>
 <script src="Asets/js/plugins/jquery.syotimer.min.js"></script>
 <script src="Asets/js/plugins/wow.js"></script>
 <script src="Asets/js/plugins/jquery-ui.js"></script>
 <script src="Asets/js/plugins/perfect-scrollbar.js"></script>
 <script src="Asets/js/plugins/magnific-popup.js"></script>
 <script src="Asets/js/plugins/select2.min.js"></script>
 <script src="Asets/js/plugins/waypoints.js"></script>
 <script src="Asets/js/plugins/counterup.js"></script>
 <script src="Asets/js/plugins/jquery.countdown.min.js"></script>
 <script src="Asets/js/plugins/images-loaded.js"></script>
 <script src="Asets/js/plugins/isotope.js"></script>
 <script src="Asets/js/plugins/scrollup.js"></script>
 <script src="Asets/js/plugins/jquery.vticker-min.js"></script>
 <script src="Asets/js/plugins/jquery.theia.sticky.js"></script>
 <!-- Template  JS -->
 <script src="./Asets/js/main.js?v=3.4"></script>
<!-- Include this script in your HTML file -->
<!-- Include this script in your HTML file -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@latest"></script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

  document.addEventListener('DOMContentLoaded', () => {
    const deleteButtons = document.querySelectorAll('.delete-button');
    deleteButtons.forEach(button => {
      button.addEventListener('click', async (event) => {
        const addressId = event.target.dataset.id;
        try {
          const response = await fetch(`/addresses/delete/${addressId}`, {
            method: 'DELETE'
          });
          if (response.ok) {
            // Remove the deleted address card from the DOM
            event.target.closest('.card').remove();
            console.log('Address deleted successfully');
          } else {
            console.error('Failed to delete address');
          }
        } catch (error) {
          console.error('Error deleting address:', error);
        }
      });
    });
  });
</script>
<script>

    document.getElementById("submitId").addEventListener("click", resetPassword);

    function resetPassword() {
        const currentPassword = document.getElementById("currentPassword").value;
        const newPassword = document.getElementById("newPassword").value;
        const confirmPassword = document.getElementById("password_conform").value;



        if (currentPassword.trim() == '') {
            document.getElementById("currentPasswordError").innerText = "Passwords required";
            return;
        } else {
            document.getElementById("currentPasswordError").innerText = "";
        }

        const pass = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/;
        if (!pass.test(newPassword) || newPassword === "") {

            document.getElementById("password_error").innerText = "Enter a Strong Password eg: Strong@1234";
            password_error.style.display = "block";
            return;
        } else {
            document.getElementById("password_error").innerText = "";
        }



        if (newPassword !== confirmPassword) {

            document.getElementById("password_conform_error").innerText = "Passwords do not match.";
            return;
        } else {
            document.getElementById("password_conform_error").innerText = "";
        }
        if (newPassword == currentPassword) {
            document.getElementById("password_error").innerText = "New Password same as old password ";
            return;
        } else {
            document.getElementById("password_error").innerText = "";
        }
      fetch("/resetPassword", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                currentPassword: currentPassword,
                newPassword: newPassword
            })
        })
            .then(response => {
                if (response.status =="invalid password") {
                    document.getElementById("serverError").innerText = "invalid current password"
                    return
                } else {

                    Swal.fire({
                        title: "<span style='color: green;'>Password rested</span>",
                        html: "<span style='color: blue;'please log agin</span>",
                        icon: "success",
                        timer: 1000,
                    });
                    setTimeout(() => {
                        location.href = "/login"
                    }, 1200);
                }
            })
            .catch(error => {
                console.error("Error resetting password:", error);
                alert("An error occurred while resetting your password.");
            });
    }



</script>


<script>

    async function walletMoney(event) {
        try {
            // Find the selected payment option ID
            event.preventDefault();
            const amount = document.getElementById('addAmount').value;

            // Make the fetch request to place the order
            const response = await fetch('/walletMoney', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ amount:amount })
            });

            const data = await response.json();
            if (data.success) {
                console.log(data.razorpay);
                razorpayPayment(data.razorpay);
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }

    function razorpayPayment(order) {
        if (order) {
            var options = {
                "key": "rzp_test_WIdya6jpB8PeBm",
                "amount": order.amount*100,
                "currency": "INR",
                "name": "ComicOtaku",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id,
                "handler": function (response) {
                    // alert(response.razorpay_payment_id);
                    // alert(response.razorpay_order_id);
                    // alert(response.razorpay_signature);
                    window.location.href = "/profile";
                    verifyPayment(response, order);
                },
                "prefill": {
                    "name": "Gaurav Kumar",
                    "email": "gaurav.kumar@example.com",
                    "contact": "9000090000"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            // Call the Razorpay payment method
            var rzp1 = new Razorpay(options);
            rzp1.open();
        } else {
            console.error('Invalid order object or amount property is missing');
            return;
        }
    }

    async function verifyPayment(payment, order) {
        try {
            const response = await fetch('/verifywalletPayment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ payment, order })
            });
            if (response.razorpay_success) {
                // Order placed successfully, redirect to order page
                window.location.href = "/profile";
            } else {
                console.error('Failed to verify payment');
            }
        } catch (error) {
            console.error('Error verifying payment:', error);
        }
    }
</script>


   

  

</body>

<!-- belle/login.html   11 Nov 2019 12:22:27 GMT -->
</html>